<div class="container mt-3" *ngIf="showTable">
    <h6 class="card-title">Country Details</h6>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Capital</th>
          <th>Population</th>
          <th>Currencies</th>
          <th>Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{countryDetail?.name}}</td>
          <td>{{countryDetail?.capital}}</td>
          <td>{{countryDetail?.population}}</td>
          <td>{{countryDetail?.currencies[0].name}}</td>
          <td><img src="{{countryDetail?.flag}}" alt="alternatetext" width="70" height="50"></td>
        </tr>
      </tbody>
    </table>
  </div>
  