<div class="container-fluid">
  <div class="card mt-4">
    <div class="card-header">
      
      <h4 class="card-title">{{ title }}</h4>

    </div>
    <div class="row card-body">
      <div class="col"><app-common-dropdown [list]="region" (selectedRegionEvent) = "selected($event)"></app-common-dropdown></div>
      <div class="col" *ngIf="countryList.length > 0"><app-common-dropdown [list]="countryList" (selectedRegionEvent) = "selected($event)"></app-common-dropdown></div>
      <app-country-details *ngIf="countryDetails && (countryDetails.length !==0)" [countryDetails] = "countryDetails"></app-country-details>
    </div>
  </div>
</div>

<h1></h1>

<router-outlet></router-outlet>
